<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to GumballApp</p>
    <p>The Count of gumballs is:  [count_gumballs]
       The Gumball Machine Model is:  [model_number]
        The Gumball Machine Serial # is:  [serial_number]</p>
  </body>
</html>