<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to GumballApp</p>
    <p>The Count of gumballs is:  1000
       The Gumball Machine Model is:  M102988
        The Gumball Machine Serial # is:  1234998871109</p>
  </body>
</html>